/* Sniff Lab Styles */


body {

    margin: 0;

    padding: 0;

    background-image:
    linear-gradient(
        rgba(20,10,5,0.65),
        rgba(20,10,5,0.65)
    ),
    url("https://snifflabmk-lgtm.github.io/snifflab-catalog/Samo%20pozadina.png");

    background-size: cover;

    background-position: center;

    background-attachment: fixed;

    color: #ffffff;

    font-family: Georgia, serif;

}


/* HEADER */

header {

    text-align: center;

    padding: 40px 20px;

}


header h1 {

    color: #d4af37;

    font-size: 50px;

    letter-spacing: 5px;

    margin: 0;

}


header p {

    color: #e8e2d8;

    font-size: 18px;

    letter-spacing: 2px;

}



/* HERO SECTION */


.hero {

    min-height: 80vh;

    display: flex;

    justify-content: center;

    align-items: center;

    text-align: center;

    padding: 40px 20px;

}



.hero-content {

    max-width: 800px;

}



.hero h2 {

    font-size: 60px;

    color: #d4af37;

    text-transform: uppercase;

    letter-spacing: 4px;

    margin-bottom: 25px;

}



.hero p {

    font-size: 20px;

    line-height: 1.8;

    color: #e8e2d8;

    margin-bottom: 40px;

}



.hero button {

    background: #d4af37;

    color: #111;

    border: none;

    padding: 16px 40px;

    font-size: 16px;

    font-weight: bold;

    border-radius: 50px;

    cursor: pointer;

    transition: 0.3s;

}



.hero button:hover {

    background: #f2d675;

    transform: translateY(-3px);

}
